<div class="left col-md-2">
    <div class="nav-list">
        <div class="avater user_info">
            <img class="my_avater" src="/images/QI_EEE.png" alt="">
            <h4 class="bold">QI_EEE</h4>
            <p class="motto">Stay hungry，stay foolish</p>
        </div>
        <dl class="blogs">
            <dt>导航</dt>
            <dd class="master-blog" onclick="location.href='/master-blog'">
                <span class="glyphicon glyphicon-home" aria-hidden="true"></span> 博主发表
            </dd>
            <dd class="recommed-blog" onclick="location.href='/recommed-blog'"> <span class="glyphicon glyphicon-home" aria-hidden="true"></span>推荐</dd>
            <dd class="recent-blog" onclick="location.href='/recent-blog'"> <span class="glyphicon glyphicon-home" aria-hidden="true"></span>最近</dd>
            <dd class="all-blog" onclick="location.href='/all-blog'"> <span class="glyphicon glyphicon-home" aria-hidden="true"></span>文章列表</dd>
            <dd class="my-blog" onclick="location.href='/my-blog'"> <span class="glyphicon glyphicon-home" aria-hidden="true"></span>我的发表</dd>
        </dl>
        <!-- <dl>
            <dt>组成</dt>
            <dd>
                <span class="glyphicon glyphicon-home" aria-hidden="true"></span> 分类
                <span class="glyphicon glyphicon-menu-right pull-right" aria-hidden="true"></span>
            </dd>
            <dd>
                <span class="glyphicon glyphicon-home" aria-hidden="true"></span> 分类
                <span class="glyphicon glyphicon-menu-right pull-right" aria-hidden="true"></span>
            </dd>
            <dd>
                <span class="glyphicon glyphicon-home" aria-hidden="true"></span> 分类
                <span class="glyphicon glyphicon-menu-right pull-right" aria-hidden="true"></span>
            </dd>

        </dl> -->
    </div>
    <!-- <div class="bottom-func col-md-12">
  <div class="bottom-span col-md-4">
      <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
      <span>管理</span>
  </div>
  <div class="bottom-span col-md-4">
      <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
      <span>管理</span>
  </div>
  <div class="bottom-span col-md-4">
      <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
      <span>管理</span>
  </div>
</div> -->
</div>